@page "/login"
@page "/"
@* @inherits FinanceApp.LoginBase *@
@layout LoginLayout
@using FinanceApp.Services;
@inject IJSRuntime jsRuntime



<title>Login Page</title>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
@* <link href="css/PageStyles/Login.css" rel="stylesheet" /> *@

<body>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="column left">
                    <div class="img">
                        <img class="item" src="https://egatadmin.icoopsiam.com/static/logo/logo.png"
                            style="border-radius: 50%;max-width: 150px;" alt=" Logo">
                    </div>
                    <br>
                    <h2 class="title-name">Back Office Core</h2>
                    <div class="title-desc">ระบบหลังบ้านสหกรณ์ออมทรัพย์การไฟฟ้าฝ่ายผลิต จำกัด</div>
                </div>
                <div class="column right">
                    <h3 class="header-title">เข้าสู่ระบบ</h3>
                    @if (!string.IsNullOrEmpty(errorMessage))



                    {
                        <div class="alert alert-danger" role="alert">
                            @errorMessage
                        </div>
                    }
                    <form @onsubmit="SubmitForm">
                        <div class="item">
                            <div class="form-group2">
                                <label for="database"><span class="required">*</span>ฐานข้อมูล </label>
                                <select class="form-control" id="database" name="database" @bind="selectedDatabase">
                                    <option value="main-database">ฐานข้อมูลหลัก</option>
                                    <option value="2nd-database">ฐานข้อมูลทดสอบ</option>
                                </select>
                            </div>
                            <div class="form-group2">
                                <label for="username"><span class="required">*</span> ชื่อผู้ใช้ : </label>
                                <input class="form-control" type="text" id="username" name="username" @bind="username">
                            </div>

                            <div class="form-group2">
                                <label for="password"><span class="required">*</span> รหัสผ่าน : </label>
                                <input class="form-control" type="password" id="password" name="password"
                                    @bind="password">
                            </div>
                        </div>
                        <div class="form-group3">
                            <button class="btn-container" type="submit">เข้าสู่ระบบ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
@code {
    string password;
    string subcrrt = "1";

    string username;

    protected string errorMessage;

    string dropDownDataGridValue = "";

    protected LoginResult loginResponse;
    Variant variant = Variant.Outlined;

    List<string> companyNames = new List<string>();

    protected string selectedDatabase;

    string selectedCoopName;

    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();

        @* companyNames = dbContext.Customers.Select(c => c.CompanyName).Distinct(); *@
        string coop_name = "สหกรณ์ออมทรัพย์สาธารณสุขสมุทรสงคราม จำกัด";

        companyNames.Add(coop_name);

        if (companyNames.Any())


        {

            selectedCoopName = companyNames.First();

        }

    }
    protected async Task SubmitForm()

    {
        Console.WriteLine($"username:{selectedDatabase}");

        Console.WriteLine($"username:{username}");

        Console.WriteLine($"password:{password}");
    }

}
