    @media(max-width: 767px) {
        .body-page {
            width: 112%;
        }
    }
       @media(max-width: 700px) {
        .body-page {
            width: 114%;
        }
    }
     @media(max-width: 570px) {
        .body-page {
            width: 116%;
        }
    }
      @media(max-width: 431px) {
        .body-page {
            width: 121%;
        }
    }